---
title: Haroon Amanullah
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>

    {% include header.html %}

    <section class="middle" id="welcome">
        <h1 class="welcome">Hi,<br>I'm <b>Haroon</b>.</h1>
        <div class="tags">Undergrad  |  Engineering and Design  |  Sustainable Energy</div>
        <div class="bio parallax_high"><em>I...</em>
            <br><br>
&nbsp;&nbsp;>  study <mark>mech. engineering</mark><br>
&nbsp;&nbsp;>  create with <mark><a href="#CAD">CAD</a></mark><br>
&nbsp;&nbsp;>  model <mark><a href="#3d-art">digital environments</a></mark><br>
&nbsp;&nbsp;>  teach <mark><a href="#leadership">engineering design</a></mark><br>
&nbsp;&nbsp;>  produce <mark><a href="#music">music</a></mark><br>
&nbsp;&nbsp;>  design <mark><a href="#websites">websites</a></mark><br>
&nbsp;&nbsp;>  capture <mark>photos</mark><br>
&nbsp;&nbsp;>  code <mark>games</mark><br>
  <br>
<em>... and much more.</em>
        </div>
        <div class="quote parallax_low blur">I go where my passions take me - especially if it means embracing new skills. </div>
        <img src="img/portrait.jpg" class="simple-border portrait parallax_low blur"></img>
    </section>

    <section class="columns large">
        <img src="img/the-vedauntless.png" class="simple-border blur">
        <div class="parallax_high" style="padding: 40px;">
            <mark><b>Engineering</b></mark> and <mark><b>art</b></mark> have always been constants for me. From designing simple interactive text adventures in Python in middle school or rapidly prototyping a robotic gripper in high school, the principles from both areas have influenced <b>my every passion and undertaking</b>.
        </div>
        <img src="img/SouthernFortifications.png" class="simple-border blur">
    </section>

    <section id="CAD">
        <section class="middle parallax_high" style="margin-block: 100px;">
            <div>
                As a student of engineering, <b>turning ideas into tangible products</b> is a fundamental skill. That's why I've developed my <mark><b>CAD</b></mark> abilities for use in:
            </div>
        </section>

        <section class="columns middle" style="gap: 30px; padding-block: 20px;">
            <div style="align-self: center; justify-self: center;">
                <mark>clubs</mark>,
            </div>
            <img src="img/CAD-gripper.png" class="simple-border parallax_low blur" style="height: 70%; margin: auto;">
            <img src="img/rosie.jpg" class="simple-border parallax_low blur"">
        </section>    

        <section class="columns middle" style="gap: 30px; padding-block: 20px;">
            <img src="img/CAD-car.jpg" class="simple-border parallax_low blur">
            <div style="align-self: center; justify-self: center;">
                <mark>classes</mark>,
            </div>
        </section>   

        <section class="columns middle" style="gap: 30px; padding-block: 20px;">
            <img src="img/rosie-earrings.jpg" class="simple-border parallax_low blur">
            <div style="align-self: center; justify-self: center;">
                and <mark>personal projects</mark>.
            </div>
            <img src="img/tak.jpg" class="simple-border parallax_low blur">
        </section>  
    </section> 

    <section id="3d-art">
        <section class="middle blur parallax_high" style="margin-block: 100px;">
            <div>
                But like all of my interests, 3D modelling began as a <b>hobby</b>: with <mark><b>Blender</b></mark>.
            </div>
        </section>

        <section class="middle" style="margin: 40px auto;">
            <a href="img/2. jmp warehouse final.png"><img src="img/2. jmp warehouse final.png" class="simple-border" style="width: 100%;"></a>
            <a href="img/1. varcity bridge final.png"><img src="img/1. varcity bridge final.png" class="simple-border" style="width: 100%;"></a>
            <a href="img/SouthernFortifications.png"><img src="img/SouthernFortifications.png" class="simple-border" style="width: 100%;"></a>
        </section>
    </section>

    <section id="leadership">
        <section class="middle">
            <p class="parallax_high" style="margin-block: 60px">
                Engineering, however, is as much reliant on <mark>technical skills</mark> as it is with <mark>communication</mark>.
            </p>
            <div class="columns" style="margin-block: 40px">
                <p class="parallax_high" style="align-self: center;">
                    So, I developed my <mark>leadership</mark> skills in my high school <mark>FIRST Robotics</mark> club as the Electrical Subteam captain, and by leading the construction of multiple subsystems of the team's robot.
                </p>
                <img src="img/rosie.jpg" class="simple-border" style="width: 50%; text-align: center;">
            </div>
            <div class="columns" style="margin-block: 40px">
                <div class="simple-border" style="height: 200px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pVjvtkq6nhs" title="Madison Robotics Outreach Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <p class="parallax_high" style="align-self: center;">
                    I initiated and ran the team's first <mark>social media</mark> account, captured high-quality photos and directed an outreach video to help recruit new members.
                </p>
            </div>
            <div class="columns" style="margin-block: 40px">
                <p class="parallax_high" style="align-self: center;">
                    In ENES100 (Intro. to Engineering Design), I led a team of 8 students to design and prototype an <mark>autonomous robot</mark> that scanned the dimensions of a box, identified the red (broken) side, deposited a marker facing the side, and traversed around obstacles with a <mark>100% success rate</mark>.
                </p>
                <img src="img/the-vedauntless.png" class="simple-border" style="width: 50%; text-align: center;">
            </div>
            <div class="columns" style="margin-block: 40px">
                <img src="https://media.discordapp.net/attachments/506122053473140766/1328186907254853632/image.jpg?ex=6785c9f3&is=67847873&hm=4623e758020d62c45e69f9ff633e386b5e9d1d262f2fd1eda6810f8fd0c7c501&=&format=webp&width=860&height=645" class="simple-border" style="width: 80%; height: auto;">
                <p class="parallax_high" style="align-self: center;">And now, I am refining my <mark>mentorship</mark> skills as a second-semester Teaching Fellow (UTF) for ENES100, where I collaborate with an instructor to <b>teach</b> engineering design principles, to <b>facilitate</b> a positive and collaborative environment, and to <b>cultivate</b> passion and leadership in students.</p>
            </div>
        </section>
    </section>

    <section id="music" class="columns middle">
        <div class="parallax_high" style="align-self: center;">
            <mark><b>Music</b></mark> has provided both <b>inspiration</b> and a form of <b>expression</b> throughout my life. I grew up learning classical piano, but found myself drawn towards <b>improvisation</b> and, eventually, <b>composition</b>. I released my first EP "Overture" in early 2021, and my more refined and developed EP "The Ferry" in mid-2023.<br>
            <br>
            <em>I use Ableton Live 10 for production.</em>
        </div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6lYieAFR46ovaTjrbTl4AL?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </section>

    <!-- <section id="photography" class="middle">
        <section class="gallery">
            <img src="img/norway-houses.jpg">
            <img src="img/guatemala-chicken-bus.jpg">
            <img src="img/hanif-portrait.JPG">
            <img src="img/switzerland-hiking.JPG">
            <img src="img/lea-cabin.jpg">
        </section>
    </section> -->

    <section id="websites" class="middle">
        <div style="margin: 40px; text-align: center;">
            Did you know that <b>this website</b> was created and hosted online <b>100% for free</b>?
        </div>
        <div style="margin: 40px">
            <mark>Web development</mark> was one of my first coding outlets, and it still serves a practical purpose when I need a website like this. Using <mark>HTML</mark>, <mark>CSS</mark> and <mark>Javascript</mark>, as well as <mark>GitHub Pages</mark> for hosting, there was no need for a website builder. I can even still get those fancy parallax and blurring animations too!
        </div>
    </section>

    <!-- {% include footer.html %} -->

    <script src="scripts/animations.js"></script>
</body>
</html>
