/* General layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

mark {
    background-color: orange;
}

#welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr 3fr 0.5fr;
    grid-template-areas:    "welcome    portrait"
                            "tags       portrait"
                            "bio        portrait"
                            "bio        quote";
    gap: 15px;
    max-width: 800px;
    height: 600px;
    margin: auto;
    padding: 20px;
    white-space: pre; 
}

.welcome {
    grid-area: welcome;
    font-size: 90px;
}

.tags {
    grid-area: tags;
}

.portrait {
    grid-area: portrait;
}

.bio {
    grid-area: bio;
}

.quote {
    grid-area: quote;
}
