/* Variables */
:root {
    --bg-color: #333;
    --light-accent: rgb(243, 200, 122);
    --strong-accent: rgb(202, 144, 36);
}

/* General layout */
body {
    margin: 0;
    background-color: var(--bg-color);
    color: #fff;
    font-family: "Bitter", serif;
    font-weight: 300;
    font-optical-sizing: auto;
    z-index: 1;
}

/* Utility Classes */
mark {
    background-color: var(--strong-accent);
    padding-inline: 3px;
    color: white;
    border-radius: 3px;
}

h1 {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

.parallax_low {
    z-index: -1;
}

.simple-border {
    border: solid white 2px;
    border-radius: 5px;
}

/* Header */
#header {
    height: auto;
    font-size: 1.3rem;
    padding: 20px;
}

.line {
    border: solid 1px var(--light-accent);
}

section.middle {
    max-width: 800px;
    margin: auto;
}

section.large {
    max-width: 1200px;
    margin: auto;
}

/* Welcome */
#welcome {
    display: grid;
    white-space: pre; 
    text-wrap: initial;
    padding: 20px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.5fr 2fr 0.1fr;
    grid-template-areas: "welcome   welcome"
                        "tags    tags"
                        "bio        portrait"
                        "bio        quote";
    height: 800px;
}

.welcome {
    grid-area: welcome;
    font-size: 17vw;
    white-space: nowrap;
}

.tags {
    grid-area: tags;
}

.portrait {
    grid-area: portrait;
    object-fit: cover;
    object-position: 70% 30%;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: -40px;
}

.bio {
    grid-area: bio;
    margin-top: 40%;
}

.quote {
    grid-area: quote;
}

@media (min-width: 800px) {
    #welcome {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.5fr;
        grid-template-areas:    "welcome    portrait"
                                "tags       portrait"
                                "bio        portrait"
                                "bio        quote";
        height: 500px;
        margin-bottom: 60px;
    }

    .welcome {
        white-space: nowrap;
    }

    .portrait {
        width: 80%;
        height: 80%;
        margin: auto;
    }

    .bio {
        margin: 0;
    }

}

/* Columns */
.columns {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
}

.columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    aspect-ratio: 21 / 9;
}

.columns div {
    align-self: center;
    padding: 50px;
}

@media (min-width: 1200px) {


    .columns {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }


}