---
layout: node
title: Journal
back: "/nodes/writings"
---

{% assign sorted_journals = site.journal | sort: 'date' | reverse %}

<div class="journal_list" style="display: grid;">
{% for journal in sorted_journals %}
    <a class="journal_bar" href="{{ journal.url }}" style="display:flex; gap:10px">
        {{ journal.date | date: "%B %-d, %Y"}} | {{ journal.title }}
        
        {%- if journal.tags -%}
            {% for tag in journal.tags %}
                <div style="font-size: 0.8rem; font-weight: 600;margin-inline: 10px;margin-top: 2px;">#{{ tag }}  </div>
            {% endfor %}
        {%- endif -%}  
    </a>
{% endfor %}
</div>