---
layout: post 
title: Projects 
---


{% assign sorted_projects = site.projects | sort: 'date' | reverse %}

<h2>Current Projects</h2>
<div class="project-card-grid">
{% for project in sorted_projects %}
  {% if project.status == "current" %}
    {% include project-card.html project=project %}
  {% endif %}
{% endfor %}
</div>

<div class="line"></div>
<h2>Completed Projects</h2>
<div class="project-card-grid">
{% for project in sorted_projects %}
  {% if project.status == "completed" %}
    {% include project-card.html project=project %}
  {% endif %}
{% endfor %}
</div>
