---
layout: new_default
---

{% assign sorted_media = site.media | sort: 'date' | reverse %}

<div class="journal_background"></div>

<section id="media">
    <h1>Media Codex</h1>

    {% for media in sorted_media %}
        <div class="media_entry">
            <div>
                {{ media.title }}<br>
                {{ media.media_type }}
                {% for tag in media.tags %}
                    {{ tag }}
                {% endfor%}
            </div>
            <div style="text-align: right; width: 100%">
                {{ media.rating }}<br>
                {{ media.date | date: "%B %-d, %Y"}}
            </div>
            <details style="margin: auto;">
                <summary>Show Review</summary>
                <p>{{ media.content }}</p>
            </details>
        </div>
    {% endfor %}
</section>