---
layout: new_default
---

{% assign sorted_media = site.media | sort: 'date' | reverse %}
{% assign current_month = "" %}

<div class="journal_background"></div>

<section id="media">
    <h1>Media Codex</h1>

    <h3>In Progress:</h3>
    <ul>
    {% for media in sorted_media %}
        {% if media.status == "in progress" %}
            <li>{{ media.title }}</li>
        {% endif%}
    {% endfor %}
    </ul>

    {% for media in sorted_media %}
        {% assign this_month = media.date | date: "%B" %}

        {% if this_month != current_month %}
            <h2 class="month-header">{{ this_month }}</h2>
            {% assign current_month = this_month %}
        {% endif %}

        {% unless media.status == "in progress" %}
            <details class="media_entry_container">
                <summary class="media_entry">
                    <div style="grid-area: icon; text-align: center; align-self: center;">
                        {% if media.media_type == "movie" %}
                            <i class="fa-solid fa-clapperboard"></i>
                        {% elsif media.media_type == "book" %}
                            <i class="fa-solid fa-book"></i>
                        {% elsif media.media_type == "concert" %}
                            <i class="fa-solid fa-ticket"></i>
                        {% elsif media.media_type == "album" %}
                            <i class="fa-solid fa-compact-disc"></i>
                        {% elsif media.media_type == "webseries" %}
                            <i class="fa-solid fa-tv"></i>
                        {% endif%} 
                    </div>
                    <div style="grid-area: title;">
                        {{ media.title }}
                        {% if media.rewatch %}
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrows-rotate"></i>
                        {% endif %}
                        <br>
                        <div style="font-size: 0.9rem; opacity: 0.8;">
                        {{ media.media_type }} - 
                        {% for tag in media.tags %}
                            {% if media.tags.first ==  tag %}
                                {{ tag }}
                            {% else %}
                            ,  {{ tag }}
                            {% endif%}
                        {% endfor%}
                        </div>
                    </div>
                    <div style="grid-area: rating; text-align: right; width: 100%">
                        <span class="star-rating" data-rating="{{media.rating}}"></span><br>
                        {{ media.date | date: "%B %-d, %Y"}}
                    </div>
                </summary>
                
                <div class="media_entry_content">{{ media.content }}</div>
            
            </details>
        {% endunless %}
    {% endfor %}
</section>