---
layout: new_default
title: Nodes
---

<div class="journal_background">
</div>

<section class="node">
    <a class="back" href="/all_writings"><< ALL WRITINGS</a>
    <h1>Nodes</h1>
    <p class="retro">
        {% if page.date %}
        Last edited: {{ page.date | date: "%B %-d, %Y"}}&nbsp;&nbsp;&#x2022;&nbsp;
        {% endif %}
        {%- if page.tags -%}
            {% for tag in page.tags %}
                <a class="tags" href="{{site.baseurl}}/nodes/by_tag#{{tag | slugize}}">
                    #{{ tag }}
                </a>&nbsp;
            {% endfor %}
        {%- endif -%}    
    </p>  
    <hr>
    <div class="content">
        {% assign sorted_nodes = site.nodes | sort: 'date' | reverse %}

        <div class="journal_list" style="display: grid;">
        {% for node in sorted_nodes %}
            <a class="journal_bar" href="{{ node.url }}">
                {{ node.date | date: "%B %-d, %Y"}} | {{ node.title }}
            </a>
        {% endfor %}
        </div>
    </div>
</section>
