<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include header.html %}
    
    {{ content }}
    
    <script src="/scripts/animations.js"></script>
    <script src="/scripts/youtube-music.js"></script>
    <script>hljs.highlightAll();</script>

    {% include footer.html %}

    <div id="lightbox" class="lightbox" aria-hidden="true">
      <button type="button" class="lightbox__close" aria-label="Close">&times;</button>
      <img id="lightboxImg" class="lightbox__img" alt=""> 
    </div>

    <script src="/scripts/lightbox.js"></script>

  </body>
</html>
