---
layout: new_default
---

{% assign sorted_nodes = site.nodes | sort: "date" %}

{% for node in sorted_nodes %}
    {% if node.url == page.url %}
        {% assign node_id = forloop.index | prepend: "00" | slice: -3, 3%}
    {% endif %}
{% endfor %}

<div class="journal_background">
</div>

{% if page.full_width %}
<section class="node full_width">
{% else %}
<section class="node">
{% endif %}
    <a class="back" href="/nodes"><< ALL NODES</a>
    <h2 style="font-family: Bruno Ace; margin-bottom: 0;">NODE {{ node_id }} // </h2>
    <h1>{{ page.title }}</h1>
    <p class="retro">
        {% if page.date %}
        Last edited: {{ page.date | date: "%B %-d, %Y"}}&nbsp;&nbsp;&#x2022;&nbsp;
        {% endif %}
        {%- if page.tags -%}
            {% for tag in page.tags %}
                <a class="tags" href="{{site.baseurl}}/nodes/by_tag#{{tag | slugize}}">
                    #{{ tag }}
                </a>&nbsp;
            {% endfor %}
        {%- endif -%}    
    </p>  
    <hr>
    <div class="content">
        {{ content }}
    </div>
</section>