---
layout: default
---

<section class="blog">
    <h1>{{ page.title }}</h1>
    <p>
        Last edited: {{ page.date | date: "%B %-d, %Y"}}&nbsp;&nbsp;&#x2022;&nbsp;
        {%- if page.tags -%}
            {% for tag in page.tags %}
                <a class="tags" href="{{site.baseurl}}/node/by_tag#{{tag | slugize}}">
                    #{{ tag }}
                </a>&nbsp;
            {% endfor %}
        {%- endif -%}    
    </p>   
    <div class="line"></div><br> 
    {{ content }}
</section>
