/* GLOBAL */

:root {
    /* --bg-color: #333; */
    --strong-accent-new: #FD7C36;
    --paper: #F7F4EA;
    --background: #19191b;
}

html {
  /* Firefox */
  scrollbar-width: none; 
  
  /* IE and Legacy Edge */
  -ms-overflow-style: none; 
}

/* Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}

body {
    color: #381E0D;
    background-color: var(--background);
}

a {
    color: #381E0D;
    text-decoration: none;
}

h1 {
    font-family: Bruno Ace;
}

body:after {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.22;
  mix-blend-mode:exclusion;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}

/* New Homepage */

section.new_homepage {
  position: relative;
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* z-index: -2; */
}

section.new_homepage #white_bg {
  position: absolute;
  background-color: var(--paper);
  top: 15px;
  left: 15px;
  right: 15px;
  height: calc(100vh - 30px);
  
  clip-path: polygon(0 0, calc(150px + 60vw) 0, calc(-450px + 60vw + (650px - 75vh)) 100%, 0 100%);

  outline: 1.5px dashed var(--background);
  outline-offset: -7.5px;
}

section.new_homepage #orange_stripe {
  position:absolute;
  background-color: var(--strong-accent-new);
  /* height: 100vh; */
  height: 80px;
  transform: 
    translateX(calc(55vw - 800px))
    translateY(300px)
    rotate(-55deg)
  ;
  width: 1600px;
  z-index: 4;
  /* left: 5vw; */
  
  /* clip-path: polygon(20% 100%, 70% 0, 80% 0, 30% 100%); */
}

section.new_homepage #orange_triangle {
  background-color: var(--strong-accent-new);
  position: absolute;
  width: 180px;
  height: 270px;
  rotate: 135deg;
  opacity: 50%;
  left: calc(60vw - 185px);

  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

section.new_homepage #orange_circle {
  background-color: var(--strong-accent-new);
  position: absolute;
  /* width: 180px;
  height: 180px; */
  width: 45vh;
  height: 45vh;
  bottom: -50px;
  right: -50px;
  /* scale: 2; */
  /* scale: calc(2 * 20vh); */
  /* transform: scale(calc(25vh / 100px)); */

  mask-image: radial-gradient(#000 50%,#0000 0);

}

section.new_homepage #orange_circle img {
  position:absolute;
  /* scale: 0.2; */
  scale: 0.4;
  /* right: -390px; */
  /* bottom: -420px; */
  right: calc(-300px + 20vh - 150px);
  bottom: calc(-380px + 20vh - 150px);
  pointer-events: none;
  image-rendering:optimizeSpeed;
}

section.new_homepage h1 {
  position: absolute;
  font-family: Bruno Ace;
  margin: 30px 70% 30px 30px;
  /* font-size: 3.5rem; */
  font-size: 7vw;
}

section.new_homepage #bio {
  /* font-size: 1rem; */
  font-size: calc(0.5vw + 1.5vh);
  font-family: Bitter;
  font-weight: 400;
  position: absolute;
  margin: 150px 50% 30px 45px;
  margin-top: calc(3vh + 20px);
  top: calc(5% + 12vw);
}

section.new_homepage #journal {
  position: absolute;
  background-color: var(--paper);
  height: 300px;
  width: 300px;
  right: -120px;
  top: -20px;
  clip-path: circle(40% at 50% 50%);
  text-align: right;
  text-decoration: none;
  /* opacity: 0.9; */
  transition: 0.3s ease;
}

section.new_homepage #journal:hover {
  scale: 1.1;
  /* opacity: 1; */
}

section.new_homepage #journal p {
  right: 130px;
  top: 80px;
  position: relative;
  font-family: Bitter;
  font-size: 0.7rem;
  margin-top: 0;
}

section.new_homepage #journal h2 {
  right: 130px;
  top: 80px;
  margin-bottom: 5px;
  position: relative;
  font-family: Bruno Ace;
  font-size: 1.5rem;
  font-weight: 100;
}

/* section.new_homepage #music {
  position: absolute;
  background-color: var(--strong-accent-new);
  font-family: Bruno Ace;
  padding: 5px 15px;
  color: var(--paper);
  border: none;
  right: 300px;
  bottom: 260px;
  transform: perspective(200px) rotateY(-30deg);

  transition: 0.3s ease;
}

section.new_homepage #music:hover {
  scale: 1.1;
  transform: perspective(200px) rotateY(-20deg);
} */

#orange_stripe_buttons {
  position: absolute;
  transform: 
    translateX(calc(55vw - 64px))
    rotate(-55deg)
    translateX(-500px)
  ;
  transform-origin: top;
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(150px, max-content)); */
  /* grid-auto-flow: dense; */
  gap: 0;
  width: 700px;
  justify-content: center;
}

section.new_homepage .stripe_button {
  position: relative;
  background-color: var(--strong-accent-new);
  font-family: Bruno Ace;
  padding: 5px 25px;
  height: 30px;
  color: var(--paper);
  /* height: fit-content; */
  transition: 0.3s ease;
  /* width: max-content; */
}

section.new_homepage .stripe_button:hover {
  height: 50px;
}

section.new_homepage #engineering {
  position: absolute;
  background-color: var(--strong-accent-new);
  /* opacity: 0.8; */
  font-family: Bruno Ace;
  font-size: 1rem;
  text-decoration: none;
  padding: 10px 25px;
  /* color: var(--paper); */
  border: none;
  left: 30px;
  bottom: 36vh;
  transition: 0.3s ease;
  border-left: 4px solid var(--background);
  border-bottom: 4px solid var(--background);
}

section.new_homepage #engineering:hover {
  scale: 1.1;
  rotate: -1deg;
  border-left: 8px solid var(--background);
  border-bottom: 8px solid var(--background);
  /* opacity: 1; */
}

section.new_homepage #projects {
  position: absolute;
  background-color: #B4C5D0;
  /* opacity: 0.8; */
  font-family: Bruno Ace;
  font-size: 1rem;
  text-decoration: none;
  padding: 20px 15px;
  width: 15vw;
  /* height: 110px; */
  height: 25vh;
  border: none;
  left: 30px;
  bottom: 30px;
  z-index: 2;
  border-top-right-radius: 40px;
  transition: 0.3s ease;
  text-align: left;
  border-left: 4px solid var(--background);
  border-bottom: 4px solid var(--background);
}

section.new_homepage #projects:hover {
  scale: 1.1;
  rotate: 2deg;
  border-left: 10px solid var(--background);
  border-bottom: 10px solid var(--background);
  /* opacity: 1; */
}

section.new_homepage #status {
  position:absolute;
  /* width: 200px; */
  /* height: 100px; */
  width: 20vw;
  height: 10vh;
  bottom: 30px;
  padding: 8px 15px;
  color: white;
  rotate: -5deg;
  background: linear-gradient(to right, #fd7c3650, #1a171500);
  right: 250px;
  border-top: 2px solid var(--paper);
  font-family: Bitter;
  font-size: 0.8rem;
}

section.new_homepage .copyright_notice {
  color: var(--paper);
  font-family: Bitter;
  font-size: 6px;
  font-weight: 400;
  letter-spacing: 5px;
  transform: rotate(-90deg);
  transform-origin: left;
  bottom: 15px;
  position: absolute;
  left: 7px;
}

section.new_homepage #changelog {
  position: absolute;
  width: 20vh;
  height: 30vh;
  /* padding: 10px; */
  background: linear-gradient(
    var(--strong-accent-new) 30px,
    var(--paper) 30px
  );
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  /* border-radius: 10px; */
  right: 30px;
  bottom: 35vh;

  transform: 
    perspective(300px)
    rotateY(-20deg)
  ;
  transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);

  letter-spacing: -0.05rem;
}

section.new_homepage #changelog:hover,
section.new_homepage #changelog:focus-within {
  transform: 
  translateY(-6px)
  scale(1.1)
  ;
}

section.new_homepage #changelog h1 {
  font-size: 1rem;
  margin: 5px;
  color: var(--paper);
  text-align: right;
}

section.new_homepage #changelog ul {
  margin-top: 35px;
  height: 80%;
  font-family: Bitter;
  font-weight: 400;
  font-size: 0.9rem;
  padding-left: 20px;
  overflow-y: scroll;

  scrollbar-color: var(--background) transparent;
  scrollbar-width: thin;
}

@media (max-width: 600px) {
  section.new_homepage {
    height: 200vh;
  }

  section.new_homepage #white_bg {
    height: 120vh;
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0% 100%, 0 100%);
  }

  section.new_homepage #orange_stripe {  
    clip-path: polygon(0% 100%, 90% 0, 100% 0, 10% 100%);
    scale: 2;
    top: 30vh;
  }

  section.new_homepage #journal {
    height: 300px;
    width: 300px;
    right: -120px;
    top: 150vh;
  }

  section.new_homepage h1 {
    margin: 32px 70% 30px 30px;
    font-size: calc(1rem + 5vw);
  }

  section.new_homepage #orange_circle {
      scale: 1.2;
      top: 360px;
      right: -10px;
  }

  section.new_homepage #bio {
    font-size: 3.5vw;
    margin: 120px 30% 30px 30px;
    top: calc(0% + 4vw);
  }

  section.new_homepage #projects {
    height: 15vh;
    left: 0;
    top: 80vh;
    opacity: 1;
    font-size: 4vw;
    padding: 1vh;
    width: 40vw;
  }

  section.new_homepage #engineering {
    height: 5vh;
    top: 70vh;
    left: 0px;
    opacity: 1;
    font-size: 4vw;
    padding: 1vh;
    margin: 0;
  }
}

/* Journal/Writings Page */

section.writings {
  position: relative;
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Bitter;
}

section.writings h2 {
    position: absolute;
    font-family: Bruno Ace;
    font-weight: 100;
    font-size: calc(3vw);
}

section.writings p {
    position: absolute;
    font-family: Bitter;
    right: 10%;
    left: 10%;
    top: 8vh;
    text-align: right;
    font-size: 0.8rem;
    font-weight: 400;
}

section.writings #white_bg {
  position: absolute;
  background-color: var(--paper);
  top: 15px;
  left: 15px;
  right: 15px;
  height: calc(100vh - 30px);
  
  clip-path: polygon(0 0, 85% 0, 0 50%);
}

section.writings #white_bg #home {
    position: absolute;
    font-family: Bruno Ace;
    font-size: 1.6rem;
    margin: 20px 20px;
}

section.writings #orange_stripe {
  position: absolute;
  background-color: var(--strong-accent-new);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  clip-path: polygon(85% 0, 100% 0, 0 100%, 0 40%);
}

section.writings #orange_stripe::after {
    content: "";
    position: absolute;
    background-color: #C56565;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    clip-path: polygon(98% 0, 100% 0, 0 100%, 0 98%);
}

section.writings #title {
    position: absolute;
    font-size: 3rem;
    font-family: Bruno Ace;
    top: 15vh;
    left: 30px;
    right: 40vw;
    z-index: 5;
}

section.writings #title p {
    font-family: Bitter;
    font-weight: 400;
    top: auto;
    right: auto;
    left: auto;
    font-size: 0.8rem;
    /* text-align: right; */
    right: 40vw;
    transform:translateX(20px);
}

section.writings #nodes {
    position: absolute;
    background-color: var(--paper);
    bottom: -50px;
    left: -50px;
    width: calc(260px + 20vw);
    height: calc(260px + 20vw);
    transition: 0.3s ease;

    z-index: 2;
    mask-image: radial-gradient(#000 50%, #0000 0);
}

section.writings #nodes:hover {
    scale: 1.1;
}

section.writings #nodes h2 {
    top: 30%;
    left: 30%;
}

section.writings #nodes p {
    position: absolute;
    top: 45%;
    left: 40%;
    right: 25%;
    text-align: right;
    font-size: 0.8rem;
    font-weight: 400;
}

section.writings #writings {
    position: absolute;
    background-color: var(--paper);
    width: 30vw;
    height: 60vh;
    bottom: 25px;
    right: 30vw;
    border-radius: 15px;
    z-index: 2;

    font-family: Bruno Ace;
    transition: 0.3s ease;
}

section.writings #writings:hover {
    height: 65vh;
}

section.writings #writings h2 {
    top: 0;
    left: 15%;
}

section.writings #writings::after {
    content: "";
    position: absolute;
    background-color: #00000029;
    height: 100%;
    width: 10px;
    left: 10px;
}

section.writings #journal {
    position: absolute;
    background-color: var(--paper);
    width: 25vw;
    height: 50vh;
    bottom: 40vh;
    right: 15px;
    transition: 0.3s ease;

    border-top-left-radius: 20px;

    clip-path: polygon(
        0 0, 
        60% 0, 
        100% 20%, 
        100% calc(100% - (25vw * 0.2679)),
        0 100%  
    );

    mask-image: 
        radial-gradient(circle 10px at 30px 30px, transparent 99%, #000 100%),
        radial-gradient(circle 10px at 30px 20vh, transparent 99%, #000 100%),
        radial-gradient(circle 10px at 30px 40vh, transparent 99%, #000 100%);
    
    mask-composite: intersect;
}

section.writings #journal:hover {
    height: 55vh;
}

section.writings #journal h2 {
    bottom: 10%;
    left: 25%;
    rotate: -15deg;
}

section.writings #journal p {
    top: 15%;
    left: 25%;
}

section.writings #lower_shelf {
    position: absolute;
    background-color: #C56565;
    left: 200px;
    right: 80px;
    height: 10px;
    bottom: 15px;
}

section.writings #mid_shelf {
    content: "";
    position: absolute;
    background-color: #C56565;
    right: 0px;
    width: 80vw;
    height: 10px;
    bottom: calc(40vh - 4vw);
    rotate: -15deg;
    z-index: 1;
}

section.writings a#media {
  position: relative;
  background-color: var(--strong-accent-new);
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  /* top: -50px; */
}

/* JOURNAL */

.journal_background {
    background-color: var(--strong-accent-new);
    clip-path: polygon(50% 0, 100% 0, 100% 100px, 0 500px, 0 300px);
    height: 800px;
    width: 100%;
    position: absolute;
    z-index: -10;
}

.journal {
  background-color: var(--paper);
  max-width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-inline: auto;
  font-family: Bitter;
  font-size: 1rem;
  font-weight: 400;
  padding: 30px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.journal h1 {
    font-family: Bruno Ace;
    font-size: 2.5rem;
    margin-top: 20px;
}

.journal a.back {
    font-family: Bruno Ace;
}

a.inline, .journal a {
    font-weight: 800;
    background: linear-gradient(45deg, #3498db, #9b59b6, #e74c3c);
    
    background-clip: text;
    color: transparent;
    transition: 2s ease;
    
    display: inline-block;
}

a.inline:hover, .journal a:hover {
    background-position-x: 200px;
    transform: translateY(-4px);
    text-decoration: underline;
}

.prev_journal {
  position:absolute;
  background-color: var(--paper);
  max-width: 700px;
  margin-inline: auto;
  left: 0;
  right: 0;
  font-family: Bitter;
  font-size: 1rem;
  font-weight: 400;
  padding: 30px;
  height: 6vh;
  border-top-right-radius: 60px;
  transition: 0.3s ease;
  border-top: 10px solid #819096;
  display: flex;
  align-items: center;
}

.prev_journal:hover {
  transform: translateY(-3vh)
  scale(1.1);
  border-top: 10px solid #819096;
  padding-bottom: 16vh;
}

.prev_journal h2, .next_journal h2 {
  font-family: Bruno Ace;
  font-size: 1.4rem;
  width: clamp(100px, 40vw);
  font-weight: 400;
  margin-left: 30px;
  margin-top: 25px;
}

.prev_journal p, .next_journal p {
  margin-left: 30px;
  margin-top: 24px;
}

.next_journal {
  position: absolute;
  background-color: var(--paper);
  max-width: 700px;
  margin-inline: auto;
  left: 0;
  right: 0;
  font-family: Bitter;
  font-size: 1rem;
  font-weight: 400;
  padding: 30px;
  height: min(2vh, 10px);
  border-bottom-left-radius: 60px;
  transition: 0.3s ease;
  border-bottom: 10px solid #819096;
  display: flex;
  align-items: center;
}

.next_journal:hover {
  transform: translateY(1vh)
  scale(1.1);
  border-bottom: 10px solid #819096;
  padding-top: 8vh;
  margin-top: -4vh;
}

.draft {
  background-color: rgb(245, 206, 80);
  padding: 5px;
  border: 2px solid var(--background);
  font-size: 1.3rem;
}

/* Journals Page */

a.journal_bar {
    width: 100%;
    background-clip: unset;
    background: none;
    background-color: #cfdcff;
    color: var(--background);
    border-bottom: 2px solid var(--background);
    border-left: 2px solid var(--background);
    font-weight: 400;
    margin: 5px;
    padding: 5px;
    transform: translateX(-10px);
    transition: 0.5s ease;
}

a.journal_bar:hover {
    transform: translateX(-60px);
    padding: 5px 5px 5px 10px;
    background-color: #8cfdf9;
}

/* Nodes */

section.node {
  background-color: var(--paper);
  max-width: 700px;
  margin: 50px auto;
  font-family: Bitter;
  font-size: 1rem;
  font-weight: 400;
  padding: 30px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

section.node.full_width {
  max-width: max(calc(100vw - 90px), 700px);
}

/* Projects */

section#projects_page {
  background-color: var(--paper);
  max-width: 700px;
  margin: 50px auto;
  font-family: Bitter;
  font-size: 1rem;
  font-weight: 400;
  padding: 30px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

/* Bookshelf */

section#bookshelf_background {
  position: relative;
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Bitter;
}

#bookshelf {
  position: absolute;
  background-color: var(--paper);
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;

  clip-path: polygon(
    0 100%,
    0 0,
    min(50vw, 500px) 0,
    min(40vw, 400px) 100%
  );
}

section#bookshelf_background::after {
  position: absolute;
  content: "";
  background-color: var(--strong-accent-new);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  clip-path: polygon(min(50vw, 500px) 0, calc(min(50vw, 500px) + 30px) 0, calc(min(40vw, 400px) + 30px) 100%, min(40vw, 400px) 100%);
}

.book_card_array {
  position: absolute;
  width: max(45vw, 400px);
  height: 100%;
  right: 0;
  left: min(55vw, 550px);
  margin: auto;
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2vw;
  margin: 15px;
}

a.book_card {
  width: 150px;
  height: 250px;
  padding: 10px;
  background-color: var(--paper);
}

/* Media Codex */

section#media {
  position: relative;
  background-color: var(--paper);
  max-width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-inline: auto;
  font-family: Bitter;
  font-size: 1rem;
  font-weight: 400;
  padding: 30px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;

  outline: 3px solid var(--strong-accent-new);
  outline-offset: 15px;
}

.media_entry {
  cursor: pointer;
  font-weight: 400;
  width: 100%;
  padding: 10px;
  transform: translateX(-10px);
  /* margin-bottom: 15px; */
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
  grid-template-rows: 15px auto;
  grid-template-areas: 
    "icon title rating"
    "icon review review"
  ;
  background-color: #d2d2ff;
  color: var(--background);
  border: 2px solid var(--background);
  line-height: 1rem;
  letter-spacing: -0.05rem;
  transition: 0.3s ease;
}

.media_entry:hover {
  border-bottom: 12px solid var(--background);
}

.media_entry_container {
  display: block;
  margin-bottom: 15px;
}

:root {
  interpolate-size: allow-keywords;
}

.media_entry_container::details-content {
  height: 0;
  opacity: 0;
  transition: 
    height 0.3s ease-out,
    content-visibility 0.35s allow-discrete;
}

.media_entry_container[open]::details-content {
  height: auto;
  opacity: 1;
}

.media_entry_content {
  padding-inline: 15px;
  background: #d2d2ff;
  /* transform: translateY(-5px); */
  /* border-top: 1px solid #eee; */
  border: 2px solid var(--background);
  border-radius: 0 0 8px 8px;
}

.star-rating::after {
  content: "★★★★★";
  color: transparent;

  --rating-percent: calc(var(--rating) / 5 * 100%);
  background: linear-gradient(90deg, var(--strong-accent-new) var(--rating-percent), var(--background) var(--rating-percent));

  background-clip: text;
}

h2.month-header {
  position: relative;
  background-color: var(--strong-accent-new);
  padding: 10px;
  text-align: center;
  font-family: Bruno Ace;
  width: 110%;
  left: -45px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

summary {
  list-style: none;
}

summary::before {
  content: "⤵"; 
  transform: translateX(6vw);
  margin: auto;
  /* content: "↧"; */
  font-weight: 800;
  font-size: 1.2rem;
}

details[open] summary::before {
  content: "⤴";
  font-weight: 800;
  font-size: 1.2rem;
}

#media_heading_strip {
  content: "";
  width: 100%;
  height: 100%;
  /* background-color: var(--background); */
  background: linear-gradient(90deg, #2e383d, #0f0d09);
  /* background: linear-gradient(90deg, var(--strong-accent-new), #e79b59); */
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 2;

  clip-path: polygon(
    0 0,
    100% calc(150px + 6vw),
    100% calc(280px - 2vw),
    0 calc(300px + 6vw)
  );
}

#media_orange_strip {
  width: 100%;
  height: 100%;
  /* background-color: var(--background); */
  /* background: linear-gradient(90deg, #2e383d, #0f0d09); */
  background: linear-gradient(90deg, var(--strong-accent-new), #e79b59);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 2;

  clip-path: polygon(
    0 0,
    100% calc(150px + 6vw),
    100% calc(300px - 2vw),
    0 calc(320px + 6vw)
  );
}

.slanted_bars {
  position: absolute;
  height: 220px;
  background: repeating-linear-gradient(
    145deg,
    #f04b39,
    #ea604b 15px,
    #633029 15px,
    #893f35 30px
  );
  /* width: calc(100% - 10px);
  margin: 5px;
  top: 5px; */
  z-index: 2;

  width: calc(100% - 20px);
  border: 10px solid var(--paper);
}

h1.big_slant {
  position: relative;
  font-size: 15rem; 
  white-space: nowrap;
  font-weight: 800; 
  transform: 
    perspective(300px) 
    rotateY(30deg) 
    scale(0.7) 
    translateX(0px)
    translateY(-35px); 
  margin-bottom: -35px;
  color: var(--strong-accent-new);
  z-index: 3;
}

#media_in_progress {
  position: relative;
  max-width: 300px;
  border: 3px solid #101010;
  border-radius: 10px;
  padding-right: 20px;
  right: max(-460px, -50vw);
  background: linear-gradient(
    to bottom,
    var(--strong-accent-new) 36px,
    var(--paper) 36px
  );
}

#media_in_progress h3 {
  margin-left: 20px;
  margin-top: 8px;
}

#media_in_progress ul {
  list-style-type: square;
  padding-left: 30px;
}

#media_in_progress ul li {
  margin-bottom: 10px;
}

#media_in_progress::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  background-color: #101010;
  height: 3px;
  top: 36px;
}

.small_box {
  position: absolute;
  width: 40px;
  height: 50px;
  background-color: var(--strong-accent-new);
  left: 15px;
  top: 320px;
  border: 3px solid #101010;
  border-radius: 10px;

  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
  align-content: center;
  padding-left: 5px;

  transition: 0.3s ease-in-out;
}

.small_box:hover {
  width: 120px;
  left: -65px;
}

.lines {
  /* width: calc(100% - 600px); */
  height: 2px;
  left: 80px;
  right: 39%;
  background-color: rgb(73, 62, 56);
  position: absolute;
  top: 350px;
}

/* Engineering Page */

section.selected_work {
  position: relative;
  height: 95vh;
  width: 100vw;
  margin-left: -45px;
  background-color: rgb(172, 157, 218);
  border-bottom: 10px solid var(--strong-accent-new);
  margin-bottom: 30px;
}

section.selected_work .info_box {
  position:absolute;
  width: 38vw; 
  background-color: var(--paper); 
  margin: 30px; 
  padding-inline: 15px;
}

.skill-tag {
  background-color: var(--strong-accent-new);
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 0.8rem;
}

/* General */

.significant {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 15px auto;
  background-color: #94e2f7;
  padding: 15px;
  transform: skewX(-5deg);
}

.side_heading {
  /* font-size: 1.2rem; */
  width: 150px;
  background-color: #94e2f7;
  padding-top: 25px;
  /* transform: skewX(-10deg); */
  width: calc(100% - 60px);
  height: 100%;
}

.side_heading h1 {
  transform-origin: right bottom;
  transform: 
    /* translateY(-50px) */
    /* translateX(45px) */
    translateX(-45px)
    translateY(150px)
    rotate(-90deg);
  font-family: Bitter;
  font-weight: 600;
  /* margin: auto; */
  font-size: 2.5rem;
  /* writing-mode: vertical-lr; */
  /* text-orientation: upright;  */
  /* letter-spacing: -10px; */
}

mark {
  background-color: var(--strong-accent-new);
  color: var(--background);
}

.middle {
  max-width: 800px;
}

/* TV */

#tv-background {
  height: 100vh;
}

#tv {
  /* background-color: var(--strong-accent-new); */
  background: linear-gradient(
    45deg, 
    var(--strong-accent-new), 
    rgb(255, 34, 0));
  margin: 30px auto;
  margin-bottom: 50px;
  max-width: 800px;
  position: relative;
  border: 10px solid var(--paper);
  /* border-bottom: 30px solid var(--paper); */
  outline: 2px solid black;
  outline-offset: -10px;
  /* outline-style: groove; */
  align-items:center;
  display: flex;
  flex-direction: column;
  /* overflow-y: hidden; */
  border-radius: 5px;
  top: 20vh;
}

#tv::after {
  content: "";
  width: calc(100% + 20px);
  height: 40px;
  position: absolute;
  background-color: var(--paper);
  bottom: -52px;
  z-index: 2;
  border-radius: 5px;
  border-bottom: 10px solid rgb(63, 63, 63);
}

#tv-controls {
  background-color: color-mix(in srgb, var(--paper) 90%, black);
  width: 80%;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid var(--background);
  border-bottom: none;
  position: relative;
  top: 10px;
  height: 50px;
  gap: 10px;
}

#tv-controls button {
  /* position: absolute; */
  color: var(--paper);
  font-size: 2rem;
  z-index: 5;
  border: 2px solid var(--background);
  border-radius: 10px;
  border-bottom: 10px solid var(--background);
  height: 50px;
  width: 100px;
  transition: 0.3s ease;
}

#tv-controls button#restart {
  background: linear-gradient(
    45deg,
    rgb(31, 182, 241),
    rgb(152, 68, 235)
  );
}  

#tv-controls button#pause {
  width: 50px;
  background: linear-gradient(
    -45deg,
    rgb(8, 45, 60),
    rgb(34, 15, 53)
  );
}  

#tv-controls button#play {
  width: 50px;
  background: linear-gradient(
    -45deg,
    rgb(241, 35, 31),
    rgb(245, 85, 93)
  );
}  

#tv-controls button#skip {
  background: linear-gradient(
    -45deg,
    rgb(31, 182, 241),
    rgb(152, 68, 235)
  );
}  

#tv-controls button:hover {
  border-bottom: 5px solid var(--background);
}

#tv-screen {
  pointer-events: none;
  outline: 10px solid var(--background);
  background-color: white;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  z-index: 2;
}

#tv-shading {
  width: 100%;
  height: 100px;
  background-color: black;
  opacity: 0.3;
  position: absolute;

  clip-path: polygon(
    0 0,
    100% 0,
    100% 50%,
    0 100%
  );
}